.menulist {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: lightgrey; */
    padding-top: 30px;
    overflow: scroll;
}